*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sen', sans-serif;
}
.green{
  color: green;
}
.red{
  color: red;
}
.orange{
  color: orangered;
}

.bottom-border{
  border-bottom: 2px solid black;
}

.right-border{
  border-right: 2px solid black;
}

.App-table{
  border-collapse: collapse;
  border: 2px solid black;
}

